<div *ngIf="configReady">
    <div fxLayout="row">
            <img src="assets/img/hub.png" alt="image">
            <div fxLayout="column" fxFlexAlign="center">
                <p><b>HUB IP:</b> {{ hub.ip }}</p>
                <p><b>HUB REMOTE ID:</b> {{ hub.remoteId }}</p>
            </div>   
    </div>

    <mat-tab-group dynamicHeight>
        <div *ngFor="let device of hubConfig.device; let i = index">
            <mat-tab label="{{ device.label }}">
                <div class="example-large-box mat-elevation-z4">
                <app-hub-device [hub]=hub [device]=device></app-hub-device>
                </div>
            </mat-tab>
        </div>
        <mat-tab label="Hue">
            <div class="example-large-box mat-elevation-z4">
                <app-hub-hue [hub]=hub></app-hub-hue>
                </div>
        </mat-tab>
    </mat-tab-group>
</div>