<div fxLayout="row wrap">
    <mat-card *ngFor="let item of commandMap | keyvalue" [fxFlex]="mobileQuery.matches ? 100 : 24">
        <mat-card-header>
            <mat-card-title>{{ item.key }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="item.key === 'NavigationBasic'">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button ><mat-icon>keyboard_arrow_up</mat-icon></button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button ><mat-icon>keyboard_arrow_left</mat-icon></button>
                    <button mat-button>OK</button>
                    <button mat-button ><mat-icon>keyboard_arrow_right</mat-icon></button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button ><mat-icon>keyboard_arrow_down</mat-icon></button>
                </div>
            </ng-container>
            <ng-container *ngIf="item.key !== 'NavigationBasic'">
                <div fxLayout="row wrap">
                    <div *ngFor="let command of item.value" fxFlex="30" class="div-button">
                        <button mat-button (click)=sendCommand(command)>{{ command }}</button>
                    </div>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>

