<div fxLayout="row wrap">
    <mat-card *ngFor="let item of commandMap | keyvalue">
        <mat-card-header>
            <mat-card-title>{{ item.key }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div *ngFor="let command of item.value" class="div-button">
                    <button mat-button (click)=sendCommand(command)>{{ command }}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

